body {
    font-family: var(--font);   
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
    background: var(--background);
}
:root {
    --background: #f9f9f9;
    --main_brown: #443d33;
    --main_brown_hovever: #2c2823;
    --main_gray: #e6e6e6;
    --red: #ad2715;
    --white: #ffffff;
    --blue: #5DADE2;
    --font:'Courier New';
}
.linia {
  width: 90%;
  border: 1px dashed var(--main_brown);
}
.linia2 {
  width: 100%;
  border: 1px solid var(--main_brown);
}

.kalendarz_nav {
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin: 0px 5px;
    margin-top: -80px;
}
.PrevMonth {
    justify-self: right;
    align-self: center;
    width: 100px;
    height: 90px;
    background: var(--main_brown);
    clip-path: polygon(100% 0%, 50% 0%, 0% 50%, 50% 100%, 100% 100%, 50% 50%);
    cursor: pointer;
}
.month_name{
    align-self: center;
    text-align: center;
    font-size: 100px;
    font-weight: normal;
    color: var(--main_brown);
}
.nextMonth{
    justify-self: left;
    align-self: center;
    width: 100px;
    height: 90px;
    background: var(--main_brown);
    clip-path: polygon(0% 0%, 50% 0%, 100% 50%, 50% 100%, 0% 100%, 50% 50%);
    cursor: pointer;
}
.monthYear{
    align-self: center;
    text-align: center;
    font-size: 40px;
    margin-top: -50px;
    font-weight: normal;
    color: var(--main_brown);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin-left: 20px;
  margin-right: 50px;
  margin-top: 40px;  
}

.today .day-number {
    outline: 5px solid var(--blue);
}
.sunday .day-number {
    background: var(--red);
}
.sunday_header {
    color: var(--red);
}

.kalendarz { 
    flex: 2;
    width: 100%;
    max-width: 1200px;
}

#calendar {
    width: 100%;
    border-collapse: collapse; /*łączy obramowania komórek, brak podwójnych linii */
    table-layout: fixed; /*wszystkie kolumny mają równą szerokość*/
}

#calendar th, #calendar td {
    border: 1px solid #999999;
    height: 100px;
    vertical-align: top;
    padding: 8px;
    position: relative;
}
.day-number {
    display: inline-flex; /*zachowuje linie i elemęty w środku można centrować*/
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: var(--main_brown);
    color: var(--white);
    font-size: 12px;
    font-weight: bold;
}
#calendar td.selected {
    outline: 5px solid var(--blue);
    outline-offset: -5px;
}
.empty {
    background: #f5f5f5;
}
.pozostale {
    background: var(--main_gray);
}
#calendar td[data-date]:hover {
    background-color: rgba(0,0,0,0.05);
    cursor: pointer;
}
.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
    margin-bottom: 4px;
}

.left_side {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 5px;
    width: 100%;
    max-width: 400px;
}

.ramka_task_list{
    border: 1px solid var(--main_brown);
    padding: 10px;
}
.header_task_list {
    display: flex;                   
    justify-content: space-between;  
    align-items: center;
    margin-bottom: 10px;             
}
.napis_task_list{
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
}
.napis_task_date{
    font-size: 20px;
    white-space: nowrap;
    align-self: right;
}

ul {
    list-style: none;
    padding-left: 0;
}

.task_header {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
}
.task_header span{
    font-size: 25px;
    font-family: var(--font);
}

.task_menu {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}
.note_ramka {
    resize: none;
    border: 2px solid var(--main_brown);
    border-radius: 5px;
    background-color: var(--background);
    font-family: var(--font);
    font-size: 20px;
    width: 90%; 
    text-align: left;
    padding: 5px;
}
.task_menu_button{
    display: flex;
    direction: row;
    gap: 10px;
    margin: 5px;
}
.title_tasklistmain{
    display: inline-block;
    max-width: 13ch;
    overflow-wrap: break-word;
}


@media (max-width: 900px) {
  .container {
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .kalendarz_nav{
    transform: scale(0.75);
  }
  .weekdays span{
    font-size: 15px;
  }
}
